<settings>
  <profiles>
    <profile>
      <id>jenkins-snapshots</id>
      <repositories>
        <repository>
          <id>jenkins-snapshots</id>
          <url>https://repo.jenkins-ci.org/snapshots/</url>
          <releases><enabled>false</enabled></releases>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
        <repository>
          <id>jenkins-incrementals</id>
          <url>https://repo.jenkins-ci.org/incrementals/</url>
          <snapshots><enabled>true</enabled></snapshots>
        </repository>
      </repositories>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>jenkins-snapshots</activeProfile>
  </activeProfiles>
  <mirrors>
    <mirror>
      <id>jenkins-incrementals</id>
      <url>https://repo.jenkins-ci.org/incrementals/</url>
      <mirrorOf>org.jenkins-ci.main:*</mirrorOf>
    </mirror>
  </mirrors>
</settings>
